name: Begrüßung

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Wunderbar, dass du ein Issue gemacht hast :)"
          pr-message: "Danke für deinen pull-request! :)"
